/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Zen+Dots&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: url("../public/font/ClashDisplay-Variable.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-body: #020624;
}

body {
  font-family: Montserrat;
  background: var(--bg-body);
}

@layer utilities {
  .btn_white { 
    @apply  bg-btnWhite-white px-8 py-3 text-blue-50
  }
  
  .btn_white_outline  { 
    @apply border-btnWhite-white px-8 py-3 text-btnWhite-white hover:bg-btnWhite-white hover:bg-opacity-10
  }

  .max-container {
    @apply mx-auto max-w-[1512px];
  }

  .padding-container {
    @apply px-[96px] lg:px-20;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-16 {
    @apply text-[16px] font-[400] leading-[175%];
  }

  .bold-104 {
    @apply text-[104px] font-[500] leading-[120%];
  }

  .bold-96 {
    @apply text-[96px] font-[500] leading-[97%];
  }

  .bold-72 {
    @apply text-[72px] font-[500] leading-[97%];
  }
  
  .bold-40 {
    @apply text-[40px] font-[500] leading-[115%];
  }

  .bold-24 {
    @apply text-[20px] font-[400] leading-[115%];
  }

  /* Hero */
  .hero-map {
    @apply absolute right-0 top-0 h-screen w-screen bg-pattern-2 bg-cover bg-center md:-right-28 xl:-top-60;
  }

  .microphone{
    @apply rounded-full border-[1px] border-solid border-offWhite-30 flex justify-center items-center w-[88px] h-[88px] relative bg-opacity-10 bg-offWhite-30
  }

  .arrow-up{
    @apply rounded-full flex justify-center items-center w-[32px] h-[32px] absolute -right-4 top-6 bg-offWhite-10
  }

  /* Camp */
  .camp-quote {
    @apply absolute -right-6 bottom-4 w-[140px] lg:bottom-10 xl:-right-8 xl:w-[186px] 3xl:right-0;
  }

  /* Feature */
  .feature-phone {
    @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md:-left-16 lg:flex  3xl:left-20;
  }

  /* Get App */
  .get-app {
    @apply max-container relative flex w-full  flex-col justify-between gap-32 overflow-hidden bg-green-90 bg-pattern bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[598px] 2xl:rounded-5xl;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
